.brands {
  display: flex;
  background-color: #000000;
  justify-content: space-evenly;
  height: 15vh;
  align-items: center;
}

.brands img {
  object-fit: contain;
}

@media (max-width: 768px) {
  .brands {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .brands img {
    width: 30%;
    aspect-ratio: 4/1;
  }
}
