.brands {
  display: flex;
  background-color: #000000;
  justify-content: space-evenly;
  height: 122px;
  align-items: center;
}

.brands img {
  object-fit: contain;
}

@media (max-width: 768px) {
  .brands {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #000000;
    justify-content: space-evenly;
    height: 146px;
    align-items: center;
  }

  .brands img {
    object-fit: contain;
    width: 30%;
    aspect-ratio: 4/1;
  }
}
