.carousel-container {
  position: relative;
  width: 60%;
  max-width: 1440px;
  margin: 60px auto;
}

.carousel-nav {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.carousel-container h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-family: "Integral CF";
  font-weight: bold;
  padding-left: 1%;
}

.carousel {
  display: flex;
  max-width: 1440px;
  gap: 10px;
  transition: transform 0.5s ease;
}

.carousel-item {
  min-width: 400px;
  margin: 0 0;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  flex: 0 0 300px;
}

.carousel-item.blur {
  filter: blur(5px);
}

.customer-name {
  font-weight: bold;
  font-size: 1.1em;
  margin: 10px 0;
}

.stars {
  color: #ffc107;
  margin-bottom: 10px;
}

.carousel-controls {
  display: flex;
  align-items: center;
  transform: translateY(-50%);
}

carousel-controls button:hover,
.carousel-controls button {
  background-color: transparent;
  color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
  filter: none !important;
  transition: 0.1s;
}

@media (max-width: 1440px) {
  .carousel-container {
    width: 90%;
    margin: 60px auto;
  }
}

@media (max-width: 768px) {
  .carousel-container {
    width: 90%;
    margin: 60px auto;
  }

  .carousel-container h2 {
    font-size: 2rem;
    line-height: 1.2;
  }

  .carousel {
    display: flex;
    margin-left: 0;
    gap: 10px;
    transition: transform 0.5s ease;
  }

  .carousel-item {
    min-width: 358px;
    margin: 0 0px;
  }

  .carousel-controls button {
    background-color: transparent;
    border: none;
    padding: 3px 10px;
    cursor: pointer;
  }
}
