.hero {
  background-color: #f2f0f1;
  background-image: url("../images/heroBackground.svg");
  background-position: 55%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 70vh;
}

.hero-vector1 {
  position: absolute;
  left: 52.08%;
  right: 44.03%;
  top: 49.86%;
  bottom: 88.86%;
}

.hero-vector2 {
  position: absolute;
  left: 82.15%;
  right: 15.62%;
  top: 25.03%;
  bottom: 92.59%;
}

.hero-content h1 {
  font-family: "Integral CF";
  margin-top: 20px;
  font-size: 3.5rem;
  line-height: 1;
}

.hero-content p {
  font-size: 0.9rem;
  opacity: 60%;
  margin: 20px 0;
  width: 45%;
}

.hero-content button {
  padding: 10px 20px;
  font-family: "Satoshi";
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 62px;
  width: 210px;
  height: 52px;
}

.hero-stats {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-top: 50px;
  width: 50%;
}

.hero-stats h2 {
  text-align: left;
  font-size: 2.5rem;
  font-weight: bold;
}

.hero-stats hr {
  width: 1px;
  height: 70px;
  margin: 0 auto;
  background-color: black;
  opacity: 30%;
}

.hero-stats p {
  font-size: 0.8rem;
  opacity: 60%;
  margin: -10px 0;
  width: 100%;
}
