/* New Arrivals Section */
.new-arrivals h2 {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-family: "Integral CF";
  font-weight: bold;
  margin: 50px auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.product-card.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.product-card {
  cursor: pointer;
  margin-bottom: 20px;
}

.product-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
}

.product-card img:hover {
  scale: 1.05;
  transition: all 0.3s ease-in-out;
}

.product-card img:active {
  scale: 1;
  transition: 0.15 ease-in-out;
}

.product-info {
  margin-top: 10px;
}

.product-info h3:hover {
  text-decoration: underline;
}

.product-info h3 {
  font-size: 1rem;
  margin-bottom: 5px;
}

.product-info div img {
  width: 15px;
  height: 15px;
}

.product-info p {
  font-size: 1rem;
  font-weight: bold;
}

.rate-span,
.rate-span:hover {
  font-size: 0.9rem;
  font-weight: normal;
  text-decoration: none;
}

.product-info .discount {
  text-decoration: line-through;
  color: #888;
  margin-left: 10px;
}

.discount-percentage {
  display: flex;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: normal;
  background-color: rgba(255, 51, 51, 0.1);
  color: #ff3333;
  width: 58px;
  height: 28px;
  padding: 5px 13px;
  margin-left: 10px;
  border-radius: 42px;
}

.view-all {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 54px;
  margin: 30px auto 60px auto;
  border: 1px rgba(0, 0, 0, 0.15);
  border-style: solid;
  border-radius: 62px;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
}

.custom-hr {
  width: 85%;
  opacity: 0.15;
  border: none;
  height: 1px;
  background-color: black;
  margin: 0 auto;
}

/* Top Selling Section */
.top-selling h2 {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  margin: 50px auto;
  font-family: "Integral CF";
  font-weight: bold;
}

@media (max-width: 768px) {
  /* New Arrivals Section */
  .new-arrivals h2 {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: "Integral CF";
    font-weight: bold;
    margin: 50px auto;
  }

  .product-card {
    width: 45%;
    height: 200px;
    margin-bottom: 125px;
  }

  .product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
  }

  .product-info {
    margin-top: 10px;
  }

  .product-info h3 {
    font-size: 0.9rem;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .product-info div img {
    width: 15px;
    height: 15px;
  }

  .product-info p {
    font-size: 1rem;
    font-weight: bold;
  }

  .product-info .discount {
    text-decoration: line-through;
    color: #888;
    margin-left: 5px;
  }

  .view-all {
    max-width: 390px;
    width: 90%;
    margin-top: 24px;
    margin-bottom: 40px;
    padding: 10px;
  }

  .custom-hr {
    width: 90%;
  }

  /* Top Selling Section */
  .top-selling h2 {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    margin: 50px auto;
    font-family: "Integral CF";
    font-weight: bold;
  }
}
