@font-face {
  font-family: "Integral CF";
  src: url("../fonts/integralcf-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Integral CF";
  src: url("../fonts/integralcf-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/satoshi-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/satoshi-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 15px;
  height: 10px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: none;
}

::-webkit-scrollbar-track-piece {
  background-color: #3b3b3b;
}

::-webkit-scrollbar-thumb:vertical {
  background-color: #666;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Satoshi";
  line-height: 1.6;
  color: #000000;
}

button:hover {
  -webkit-filter: invert(1);
  filter: invert(1);
  background-color: invert(1);
  transition: 0.25s;
}

button:active {
  scale: 0.9;
}

button {
  transition: 0.25s;
  font-family: "Satoshi";
}

input:focus {
  opacity: 100% !important;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  min-width: 1152px;
  max-width: 1440px;
  margin: 0 auto;
}

.star {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.star.full {
  background-image: url("../assets/icons/main/fullStar.svg");
}

.star.half {
  background-image: url("../assets/icons/main/halfStar.svg");
  background-repeat: no-repeat;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }

  .container {
    min-width: 351px;
    max-width: 390px;
    width: 90%;
  }
}
